name: fire_damage_cls
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - pytorch-cuda=12.1
  - pandas
  - openpyxl
  - pyyaml
  - matplotlib
  - scikit-learn
  - pip
  - pip:
    - timm
    - thop
